.outer_cntr {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: whitesmoke;
    min-width: 430px;
}

.inner_cntr {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.fractal_cntr {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}

.button_cntr {
    font-size: 1em;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}


.menu_button {
    font-size: 1em;
    min-width: 8em;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.type_select_label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.type_select {
    font-size: 1.0em;
    min-width: 8em;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 2px;
}

.edit_cntr_hidden {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    height: 0px;
    overflow: hidden;
}

.edit_cntr_visible {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    overflow: hidden;
    margin-bottom: 10px;
}

.edit_button_cntr {
    font-size: 1em;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.area_cntr {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.input_inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.input_cntr {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.formula_cntr {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.input_label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input {
    font-size: 1.0em;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.editor_button {
    font-size: 1em;
    min-width: 8em;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.canvas_cntr {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}


.canvas {
    width: 100%;
}

.stats_cntr_visible {
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.stats_cntr_hidden {
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    height: 0px;
    overflow: hidden;
}
.stats_text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    overflow: hidden;
    resize: none;
}

.formula_label {
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}
.hint_text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}


.disclaimer_button {
    font-size: 1em;
    min-width: 8em;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.disclaimer_text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}

.modal_visible {
    display: block;
}

.modal_invisible {
    display: none;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

@media screen and (max-width: 600px) {
    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15%; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 90%; /* Could be more or less, depending on screen size */
    }
}

@media screen and (min-width: 601px) {
    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%; /* Could be more or less, depending on screen size */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    }
}



.modal_ok_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal_ok_close:hover,
.modal_ok_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
